{% extends "layout.html" %}
{% block content %}
    {% for todo in todos %}
        <div class="card p-3 m-3 {% if todo.completed == "True" %}bg-transparent text-black{% else %}bg-light{% endif %}">
            <div class="card-body">
                {% if todo.completed == "True" %}
                    <h5 class="card-title"><del>{{ todo.name }}</del></h5>
                {% else %}
                    <h5 class="card-title">{{ todo.name }}</h5>
                {% endif %}

                <p class="card-text text-black">{{ todo.date_created }}</p>
                
                <p class="card-text {% if todo.completed == "True" %}text-black{% else %}text-dark{% endif %}">
                    {{ todo.description }}
                </p>

                <a href="{{ url_for('update_todo', id = todo._id) }}" class="btn btn-outline-info btn-sm">Update</a>
                <a href="{{ url_for('delete_todo', id = todo._id) }}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
